@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);
* {
  font-family: "Roboto Slab";
}
* {
  background-color: #f7f7f7;
}
header,
footer,
.page-header-block,
.page-breadcrumbs {
  display: none;
}
.gameplan-container {
  margin: 50px auto;
  max-width: 700px;
}
.discussion-list-item {
  margin: 0px -15px;
  padding: 7px 15px;
}
.discussion-list-item:hover,
.discussion-list-item:hover * {
  background-color: #fff;
}
.discussion-list-item h5 {
  margin-left: 40px;
  font-size: 14px;
}
.discussion-list-item .discussion-icon {
  margin-top: 10px;
  float: left;
  display: inline-block;
}
.discussion-icon .octicon {
  cursor: pointer;
}
input.new-discussion,
textarea.new-discussion-content,
.form-signin input {
  border: none;
  padding: 0px;
  font-weight: 300;
  box-shadow: none !important;
  background-color: inherit !important;
  resize: none;
}
textarea.new-discussion-content {
  overflow-x: hidden;
  max-height: 500px;
  height: 20px;
  margin-top: 20px;
}
.back-to {
  display: block;
  margin-left: 40px;
  font-size: 14px;
  margin-bottom: 30px;
}
.discussion-block * {
  transition: none;
  -webkit-transition: none;
}
.discussion-block {
  transition: none;
  -webkit-transition: none;
  margin: 15px 0px;
  padding: 20px 40px;
  font-weight: 300;
}
.discussion-block.active,
.discussion-block.active * {
  background-color: #fff !important;
}
.discussion-block.active {
  border-radius: 4px;
}
.discussion-title {
  font-weight: normal;
  font-size: 22px;
  margin-top: 5px;
  margin-bottom: 0px;
}
.discussion-body {
  padding-left: 50px;
}
.user-link.no-title {
  display: inline-block;
  margin-top: 10px;
}
.discussion-content {
  margin-top: 18px;
}
.discussion-help {
  padding-bottom: 20px;
  padding-top: 60px;
  border-bottom: 1px solid #e2e2e2;
}
.user-circle {
  width: 50px;
  height: 50px;
  margin-bottom: -50px;
  margin-left: -10px;
}
.form-signin {
  margin: 0px;
  margin-top: 70px !important;
  padding: 0px !important;
  padding-top: 100px !important;
  background-color: #f7f7f7 !important;
  background-image: url(/assets/gameplan/img/gameplan.png);
  background-repeat: no-repeat;
  background-position: 0px 0px;
}
.form-signin input {
  background-color: #f7f7f7;
  padding: 10px 0px !important;
  border-radius: 0px;
  border-bottom: 1px solid #e2e2e2;
}
.form-signin a,
.form-signin a:hover,
.form-signin a:visited {
  color: #B2BAC2 !important;
}
.form-signin button,
.form-signin button:hover {
  background-color: inherit;
  color: #579EDF;
  padding: 0px;
  font-size: 14px;
}
