{% extends "templates/base.html" %}

{% block title %}Gameplan for {{ name }}{% endblock %}

{% block content %}
<div class="gameplan-container">
<a href="/">
     <p class="octicon octicon-arrow-left text-muted">  Back to discussion</p>
 </a>
{% for discussion in discussions %}

<div class="discussion-list">
    <a href="/{{ discussion.parent_website_route }}/{{ discussion.page_name }}">
        <h5 class="discussion-title">{{ discussion.title }}</h5>
    </a>
</div>
{% endfor %}

{% endblock %}
</div>
