@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300);

* {
	font-family: "Roboto Slab";
}

* {
	background-color: #f7f7f7;
}

header, footer, .page-header-block, .page-breadcrumbs {
	display: none;
}

.container{
	padding-top:5%;
	padding-left:3%;
}

h4 {
	font-size: 20px;
	font-weight: 400;
}

h5{
	font-size:17px;
	font-weight:300;
}

// Index

.new-discussion{
	width:80%;		
}

.discussion-title{
  padding-top: 10px;
  font-size:18px;
}



.discussion-list{
	padding-left:10px;
}


// Discussion Page


.back-to{
padding-left:80px;
padding-bottom:30px;
font-size:18px;
}

.user-circle{
	margin-left:55px;
}


#hint-text{
	display:none;
	width:70%;
	padding-top:10px;
	padding-left:10px;
}


#discussion-separator{
	width:80%;

}

.discussion-bar{
	margin-top:15px;
}


.discussion-body{
	padding-left:120px;
	margin-top:-55px;
	font-size:17px;
	font-weight:400;
	padding-bottom:50px;
}


.discussion-user{
	padding-left:100px;
}

.new-discussion-form{
	color:#d3d3d3;
}

.new-comment {
  padding-left:103px;
  width:80%;
}

.current-user{
	font-size:16px;
	padding-left:113px;
}


.new-discussion, .new-discussion-content, .form-signin input {
  border: none;
  padding-top: 20px;
  font-size:16px;
  font-weight:400;
  box-shadow: none !important;
  background-color: #f7f7f7 !important;
}

.new-discussion-content {
	overflow-x: hidden;
	max-height: 500px;

}

// comment

.discussion-comment-body {
	font-size: 16px;
	padding-bottom:15px;
	padding-left: 65px;
}


.comment-circle{
	width:50px;
	height:50px;
	margin-bottom:-36px;
}

.single-comment{
	padding-bottom:18px;
}


.discussion-comments{
	padding-left:53px;
	width:90%;
	font-weight:400;
	padding-bottom:20px;
}

// login

.form-signin {
	margin: 0px;
	margin-top: 70px !important;
	padding: 0px !important;
	padding-top: 100px !important;
	background-color: #f7f7f7 !important;
	background-image: url(/assets/gameplan/img/gameplan.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
}

.form-signin input {
	background-color: #f7f7f7;
	padding: 10px 0px !important;
	border-radius: 0px;
	border-bottom: 1px solid #e2e2e2;
}

.form-signin a,
.form-signin a:hover,
.form-signin a:visited {
	color: #B2BAC2 !important;
}


.form-signin button, .form-signin button:hover {
	background-color: inherit;
	color: #579EDF;
	padding: 0px;
	font-size: 14px;
}


